#owner{

    text-align: center;
    font-size: 25px;
   
    
}

#owner ion-input [type="text"]{

    text-align: center;
    color: maroon;
}

#list p{

    text-align: center;
    color: maroon;
    font-size: 25px;
}

#but p{

    text-align: center;
    color: maroon;
    font-size: 25px;
    
    

}
#summary p{

    text-align: center;
    color: maroon;
    font-size: 25px;

    
}

#summary{

    text-align: center;
}

#boxes p{

    text-align: center;
    color: maroon;
    font-size: 25px;
    
}

